.hidden{
    display: none; 
}

ul{
    list-style: none;
    padding-left:0px;
    line-height:3em;
    vertical-align: middle;
}

img{
    vertical-align: middle;
}

span{
    vertical-align: middle;
}

html{
    width:500px;
}

.textInput{
    width:400px;
    align
}