@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

.hidden{
    display: none; 
}

html{
    font-family: 'Gowun Dodum', sans-serif;
}
ul{
    list-style: none;
    padding-left:0px;
    line-height:3em;
    height:30em;
    overflow-y: scroll;
}

li{    
    display: flex;
}

img{
    vertical-align: middle;
    padding-right: 15px;
}

span{
    background-color: transparent;
    vertical-align: middle;
}

input#fileInput{
    width:350px;
    border-radius: 5px;
    text-align:center;
    border:0;
    outline:0;
    align-self: center;
    height:22px;
}

html{
    width:500px;
    background-color:#3d4043;
}

body{
    font-family: 'Gowun Dodum', sans-serif;
    color:whitesmoke;
}
form{
    align-self: center;
}
.backGround{
    
}

button#deleteBtn{
    border:0;
    outline:0;
    background-color: transparent;
    padding-right:15px;
}
button#save{
    border-radius: 7px;
    border:5px;
    outline:0;
    height:22px;
    margin-left:7px;
}
button#load{
    border-radius: 7px;
    border:5px;
    outline:0;
    height:22px;
    margin-left:7px;
}

.btnMouseover{
    background-color: orange;
    color:white;
}

.active{
    background-color: rgb(241, 221, 166);
}

div#topDiv{
    align-self: center;
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    padding-top:15px;
    justify-content: center;
}

div#tabsDiv{
    display:flex;
    flex-direction: column;
    width:500px;
}

div#titleDiv{
    width:400px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
}